*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

/* navbar section*/
.navbar{
    background:#3f845c;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 130x;
    z-index: 1;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 40px;
}
#navbar__logo {
    background: #66c48e;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 20px;
    display: flex;
    align-items:baseline;
    cursor: pointer;
    text-decoration: none;
}
.navbar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar__items {
    height: 60px;
}
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}
.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    background: #648eb2;
    color: #fff;
}
#mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
}
.navbar__toggle .bar {
    display: block;
    cursor: pointer;
}
.navbar__links:hover {
    color:#d37ab8;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1500px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .navbar__item {
        width: 100%;
    }
    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .navbar_btn {
        padding-bottom: 2rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: -translateY(8px) -rotate(45deg);
    }
}

/* hero section */
.hero {
    background:#3f845c;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
}
.hero__heading {
    font-size: 60px;
    margin-bottom: 10px;
    color: #b2cebe;
}
.hero__container h2{
    font-size: 40px;
    color: #b2cebe;
    margin-bottom: 10px;
}
.hero__description {
    font-size: 30px;
    color: #b2cebe;
    justify-content: left;
    text-align: left;
    align-items: left;
    padding-top: 10px;
}
.hero__img--container {
    justify-content: center;
    align-items: center;
    padding-left: 500px;
    padding-bottom: 150px;
    padding-top: 100px;
}
.highlight {
    border-bottom: 4px solid rgb(25, 50, 34);
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 20px;
    }
}

/* push section */
.push {
    background-color:#66c48e;
}
.push__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 100px;
}
.push__content {
    width: 100;
    padding: 0px;
}
.push__content h1{
    padding-top: 100px;
    color: #3f845c;
    font-size: 55px;
    text-align: center;
}
.push__content h2{
    color: #c7f1d8;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.push {
    background-color: #66c48e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
  }
.push:hover {
    background-color: #b2cebe; 
  }
.push__but {
    color:#c7f1d8;
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
    border: #3f845c;
    border-width: 10px;
    border-style: ridge;
    border-radius: 60px;
    padding: 40px 40px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .push__heading {
        font-size: 60px;
    }

    .push__description {
        font-size: 20px;
    }
}


/* pull section */
.pull {
    background-color:#66c48e;
}
.pull__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 100px;
}
.pull__content {
    width: 100;
    padding: 0px;
}
.pull__content h1{
    padding-top: 100px;
    color: #3f845c;
    font-size: 55px;
    text-align: center;
}
.pull__content h2{
    color: #c7f1d8;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pull {
    background-color: #66c48e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }
.pull:hover {
    background-color: #b2cebe; 
  }
.pull__but {
    color:#c7f1d8;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 400px;
    border: #3f845c;
    border-width: 10px;
    border-style: ridge;
    border-radius: 60px;
    padding: 40px 40px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .pull__heading {
        font-size: 60px;
    }

    .pull__description {
        font-size: 20px;
    }
}


/* legs section */
.legs {
    background-color:#66c48e;
}
.legs__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 100px;
}
.legs__content {
    width: 100;
    padding: 0px;
}
.legs__content h1{
    padding-top: 100px;
    color: #3f845c;
    font-size: 55px;
}
.legs__content h2{
    color: #c7f1d8;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.legs {
    background-color: #66c48e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
  }
.legs:hover {
    background-color: #b2cebe; 
  }
.legs__but {
    color:#c7f1d8;
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
    border: #3f845c;
    border-width: 10px;
    border-style: ridge;
    border-radius: 60px;
    padding: 40px 40px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .legs__heading {
        font-size: 60px;
    }

    .legs__description {
        font-size: 20px;
    }
}


/* abs section */
.abs {
    background-color:#66c48e;
}
.abs__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 100px;
}
.abs__content {
    width: 100;
    padding: 0px;
}
.abs__content h1{
    padding-top: 100px;
    color: #3f845c;
    font-size: 55px;
    text-align: center;
}
.abs__content h2{
    color: #c7f1d8;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.abs {
    background-color: #66c48e;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
  }
.abs:hover {
    background-color: #b2cebe; 
  }
.abs__but {
    color:#c7f1d8;
    font-size: 30px;
    padding-left: 200px;
    padding-right: 200px;
    border: #3f845c;
    border-width: 10px;
    border-style: ridge;
    border-radius: 60px;
    padding: 40px 40px 40px 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
    .abs__heading {
        font-size: 60px;
    }

    .abs__description {
        font-size: 20px;
    }
}